@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-brand-cream text-brand-black font-sans antialiased;
}

a {
  @apply transition-colors duration-200;
}

.container {
  @apply mx-auto w-11/12 max-w-6xl;
}
